.custom-container{
  border: 1px solid black;
  margin: 50px 300px;
 

}

.current-weather{
  display: block;
  justify-content: end;
  color:#5e5e5e ;
 
}
.temperature{
  font-size: 55px;
}
.units{
  margin-top: 10px;
  margin-right: 50px;
  margin-left: -11px;
}
