.container{
  border: 1px solid black;
  margin: 50px 60px;
  padding: auto 50px;

}
.container:h1{
  text-align: center;
}
.current-weather{
  display: block;
  justify-content: end;
  color:#5e5e5e ;
 
}
.temperature{
  font-size: 52px;
}
.units{
  margin-top: 10px;
  margin-right: -5px;
}